
//color
$color-primary:#3F5D45;
$color-secondary:#EAF0ED;
$color-btn: #FFE180;

$fontsize-title:24px;
$fontsize-subtitle: 20px;
$fontsize-text: 16px;

//font
$base-font-size: 1rem; // 16px
$base-line-height: 1.5;
$font-xxl: $base-font-size * 2.25;
$font-xl: $base-font-size * 1.5; // 24px
$font-l: $base-font-size * 1.25; // 20px
$font-m: $base-font-size;
$font-s: $base-font-size * 0.875; // 14px