/* header 區塊 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:30px;

    .logo {
        height:40px;
        width: 219.49px;
    }

    .menu {
        display: flex;
        justify-content: flex-start;
        li a {
            display: block;
            padding: 10px 30px 8px 30px;
            text-align: center;
            &:hover {
                background: #3F5D45;
                color: white;
            }
        }
    }
}